* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/* ///////////// General ///////////// */
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}
h1 {
    font-size: 65px;
    margin-bottom: 20px;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 30px;
}
.blue {
    background-color: rgb(42, 93, 251);
    color: white;
}
.button {
    padding: 5px 10px;
}
/* ///////////// Header ///////////// */
header {
    height: 50px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header_section {
    width: 500px;
}
.top_menu {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
/* ///////////// Jumbotron ///////////// */
.jumbotron {
    background-color: rgb(177, 203, 227);
    height: 600px;
    width: 100vw;
    padding: 50px;
}
.jumbotron_container {
    height: 600px;
    width: 50vw;
    margin: 0px 20vw 30vw;
}
.jumbotron_content {
    width: 50vw;
    height: 450px;
    display: flex;
    justify-content: flex-start;
}
.jumbotron_content p {
    width: 15vw;
    text-align: left;
}
#trial {
    margin-top: 30px;
    margin-bottom: 30px;

}
/* ///////////// Main ///////////// */
main {
    width: 100vw;
    height: 3200px;
}
.main_part {
    width: 50vw;
    height: 2000px;
    margin: 7% auto;
    /* background-color: blue; */
}
.business_plan

#fatturazione1 {
    margin-top: 50px;
    margin-right: 5px;
}
#fatturazione2 {
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 50px;
}
.grid {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background-color:azure;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.column {
    width: 200px;
    height: 500px;
    background-color: aqua;
}





/* ///////////// Footer ///////////// */
footer {
    width: 100vw;
    height: 500px;
    background-color: black;
    padding-top: 60px;
}
.footer_section {
    height: 220px;
    width: 1500px;
    margin: auto;
}
.bottom_menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.bottom_column a, h4 {
    color: white;
}
.bottom_column ul {
    margin-top: 20px;
}
.bottom_column li {
    padding-top: 10px;
    font-size: 12px;
}
footer hr {
    color: white;
    width: 75px;
    margin-left: 10%;
}
.language {
    margin-left: 9%;
}
.language_selected {
    color: lightgrey;
}
.language_selected::after {
    content: "\25B4";
}
.language_selected::before {
    content: "";
    background-image: url(../img/ita.png);
    background-size: contain;
    display: inline-block;
    height: 10px;
    width: 14px;
    
}







